#################### Azure Provider ####################
provider "azurerm" {
  features {}
  subscription_id = var.azure_subscription_id
}

#################### Azure Modules ####################

module "ipsec-azure" {
  count  = var.build_azure_ipsec_module ? 1 : 0
  source = "./modules/cato/azure/ipsec"
  ### Create 2 Allocated IPs in Cato CMA, and retrieve the IDs via API 
  ### using query.entityLookup() filtering for type allocatedIP
  token                       = var.cato_token
  account_id                  = var.account_id
  primary_cato_pop_ip         = "11.11.11.11"
  secondary_cato_pop_ip       = "11.11.22.22"
}

module "vsocket-azure" {
  count  = var.build_azure_vsocket_module ? 1 : 0
  source = "./modules/cato/azure/vsocket"
  location = "Central US"
}

module "vsocket-azure-vnet" {
  count  = var.build_azure_vsocket_vnet_module ? 1 : 0
  source = "./modules/cato/azure/vsocket-vnet"
  location = "Central US"
}

module "vsocket-azure-ha" {
  count                 = var.build_azure_vsocket_ha_module ? 1 : 0
  source                = "./modules/cato/azure/vsocket-ha"
  token                 = var.cato_token
  account_id            = var.account_id
  azure_subscription_id = var.azure_subscription_id
  location = "Central US"
}

module "vsocket-azure-ha-vnet" {
  count                 = var.build_azure_vsocket_ha_vnet_module ? 1 : 0
  source                = "./modules/cato/azure/vsocket-ha-vnet"
  token                 = var.cato_token
  account_id            = var.account_id
  azure_subscription_id = var.azure_subscription_id
  location = "Central US"
}

module "vsocket-azure-ha-vnet-2nic" {
  count  = var.build_azure_vsocket_ha_vnet_2nic_module ? 1 : 0 
  source = "./modules/cato/azure/vsocket-ha-vnet-2nic"
  token                 = var.cato_token
  account_id            = var.account_id
  azure_subscription_id = var.azure_subscription_id
}

module "azure-vwan" { 
  count  = var.build_azure_vwan_module ? 1 : 0 
  source = "./modules/cato/azure/vwan"
  token                 = var.cato_token
  account_id            = var.account_id
  azure_subscription_id = var.azure_subscription_id
}